@import "./variables";

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-red {
  color: $common-red !important;
}

.btn-link {
  color: #ea868f;
  text-decoration: underline;
  &:hover {
    color: #9eeaf9;
  }
}
