@import "../../styles/common.scss";
@import "../../styles/_variables.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .header-tabs-right {
    display: flex;
    align-items: center;
    .welcome {
      margin-right: 10px;
    }
    .languages {
      display: flex;
      align-items: center;
      .language-vi,
      .language-en {
        margin-right: 16px;
        cursor: pointer;
        &.active {
          color: $general-in-light;
        }
      }
    }
    .btn-logout {
      color: $common-text-color;
      line-height: 40px;
      height: 40px;
      padding: 0px 16px;
      &:hover {
        background-color: darken($colormain, 5);
      }
      i {
        font-size: $base-size + 1px;
      }
    }
  }
}
